#Cmake Build folders
/release
/Release
/RelWithDebInfo

/debug
/Debug

build/
/build
/Build
/.build

# KDevelop
/*.kdev4

# CLion
/.idea
/cmake-build-debug

# Visual Studio Code
/.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

# llvm
*.ll
*.bc

# Jupyter notebook checkpoints
.ipynb_checkpoints
